$primary: #e3dbe4;
$danger: #e73632;
$success: #7988b4;
$warning: #eee2e5;
$info: #98a3c5;

$body-bg: #24282a;
$body-color: #e3dbe4;

$txt-accent: #acb1b4;
$form-placeholder: #bcc1c3;
$accent-color: #e8ca6f;
$keyline-color: #e6e9ea;

$gold: #e8ca6f;

body {
  font-family: Helvetica Neue;
}

p {
  font-size: 15px;
  line-height: 29px;
  padding-bottom: 20px;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
  font-weight: 300;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 29px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.btn {
  font-size:13px;
  border:solid 2px;
  -moz-border-radius:40px;
  -webkit-border-radius:40px;
  border-radius:40px;
  display:inline-block;
  text-transform:uppercase
 }
 .btn:hover,
 .btn:focus {
  color:#fff;
  border-color:#e8ca6f;
  background-color:#e8ca6f
 }
 .btn-white {
  font-size:13px;
  border:solid 2px;
  -moz-border-radius:40px;
  -webkit-border-radius:40px;
  border-radius:40px;
  display:inline-block;
  border-color:#fff
 }
 .btn-white:hover,
 .btn-white:focus {
  color:#e8ca6f;
  border-color:#e8ca6f
 }
 .btn-fill {
  color:#fff;
  border:solid 2px #e8ca6f;
  -moz-border-radius:40px;
  -webkit-border-radius:40px;
  border-radius:40px;
  display:inline-block;
  text-transform:uppercase;
  background-color:#e8ca6f
 }
 .btn-fill:hover,
 .btn-fill:focus {
  color:#fff;
  background-color:#d3b56a;
  border-color:#d3b56a
 }
 .btn-small {
  padding:8px 30px
 }
 .btn-large {
  padding:15px 40px
 }
 .btn-margin-right {
  margin-right:20px
 }

.section-padding {
  padding: 40px 0;
}

.section-border {
  border-bottom: 1px solid #e6e9ea;
}

#hero {
  background: url("../assets/top-bg.jpeg") center center;
  background-size: cover;
  min-height: 700px;
}

#hero img {
  max-width: 100%;
}

#RSVP {
  border-color: $gold;
  color: darken($gold, 3%);
  background-color: transparent;
  margin-top: 20em;
  border-radius: 40px;
}

#RSVP:hover {
  color: darken($gold, 50%);
  background-color: $gold;
}

#video-bg {
  height: 300px;
}

#video-content {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  position: relative;
  background: rgba(17, 17, 17, 0.5);
  text-align: center;
}

#video-content h5 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 10px;
}

#video-content p {
  color: #ffffff;
}

#map-canvas {
  height: 500px;
  width: 100%;
}

.rsvp .rsvp-form .rsvp-btn {
  padding: 15px 0;
  border-radius: 3px;
  width: 100%;
  font-size: 13px;
}
.rsvp .rsvp-form .form-input-group {
  width: 100%;
  height: 55px;
  margin: 0 auto 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #e6e9ea;
  text-align: left;
  position: relative;
}
.rsvp .rsvp-form .form-input-group i {
  color: #e8ca6f;
  font-size: 14px;
}
.rsvp .rsvp-form .form-input-group i:after {
  content: "";
  height: 30px;
  width: 1px;
  border-right: solid 1px #e6e9ea;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
.rsvp .rsvp-form .form-input-group i.fa-user,
.rsvp .rsvp-form .form-input-group i.fa-users,
.rsvp .rsvp-form .form-input-group i.fa-envelope,
.rsvp .rsvp-form .form-input-group .fa-key {
  font-size: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}
.rsvp .rsvp-form .form-input-group input {
  padding-left: 68px;
  width: 100%;
  height: 100%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
}
.rsvp .rsvp-form .form-input-group input::-webkit-input-placeholder {
  color: #bcc1c3;
}
.rsvp .rsvp-form .form-input-group input:-moz-placeholder {
  color: #bcc1c3;
}
.rsvp .rsvp-form .form-input-group input::-moz-placeholder {
  color: #bcc1c3;
}
.rsvp .rsvp-form .form-input-group input:-ms-input-placeholder {
  color: #bcc1c3;
}

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
